<div class="page-header">
  <!--
  <h1><% if (config.subtitle){ %><%= config.subtitle %><% } else { %><%= config.title %><% } %></h1>
  -->
  <h1>
  <% if (theme.headline){ %>
      <% idx = parseInt(Math.random() * theme.headline.length); %>
      <%= theme.headline[idx] %> 
  <% } %>
  </h1>
</div>

<%- partial('_partial/index', {index: true}) %>
