<div class="page-header">
  <h1 class="home-title"><% if (config.subtitle){ %><%= config.subtitle %><% } else { %><%= config.title %><% } %></h1>
</div>

<%- partial('_partial/index', {index: true}) %>
